.action
  a.action__button--chat(
    href="https://discordapp.com/invite/xcmtRYV"
    title="Join our CodeTap Academy Chat Server"
  ) Let's chat
  a.action__button--subscribe(
    href="https://codetap.academy/subscribe"
    title="Become Mentored and Superboost your Career"
  ) Become Mentored
  a.action__button--watch(
    href="https://codetap.academy"
    title="Watch hundreds of free lessons Now"
  ) Watch Courses
