.action
  if key % 3 === 0
    a.action__button--chat(
      href="https://discordapp.com/invite/xcmtRYV"
      title="Join our CodeTap Academy Chat Server"
    ) Let's have a quick chat
  if key % 3 === 1
    a.action__button--subscribe(
      href="https://codetap.academy/subscribe"
      title="Become Mentored and Superboost your Career"
    ) I Want to Be Mentored
  if key % 3 === 2
    a.action__button--watch(
      href="https://codetap.academy"
      title="Watch hundreds of free lessons Now"
    ) Free Lessons? Where?
